// Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #2196F3 !default;
$secondary: #2C3E50 !default;
$secondary-light: lighten($secondary, 25%);
$accent: #00A34A !default;
$grey: #EEEEEE;

$linkedin-icon-color: #0068B5;
$github-icon-color: #212121;

$anchor-text-color: $accent;

// pypi

// font
$code-font: "Source Code Pro", monospace;
$base-font-size:   17px;

// colors
$transparent-white: transparentize($white, 0.6);

// spacing
$spacing-unit: 30px;

// viewports
$mobile:          400px;
$small-tablet:    600px;
$tablet:          800px;
$desktop:         1000px;
$large-desktop:   1200px;
